{% extends "base.html" %}
{% block content %}
	<h2>Add Follower<small> Click checkboxes to enable notification feeds
</small></h2>
  <form method="POST" action="/followers/new" role="form">
      <div class="form-group">
        <label for="email">Email</label>
          <div class="input-group">
          <span class="input-group-addon">
            <input type="checkbox" name="email_on" >
          </span>
          <input type="text" name="email" class="form-control" }}>
          </div><!-- /input-group -->
      </div>
      <div class="form-group">
        <label for="phonenumber">Phone Number</label>
          <div class="input-group">
          <span class="input-group-addon">
            <input type="checkbox" name="phone_on" >
          </span>
          <input type="text" name="phonenumber" class="form-control" }}>
          </div><!-- /input-group -->
      </div>
      <div class="form-group">
        <label for="twitter">Twitter</label>
          <div class="input-group">
          <span class="input-group-addon">
            <input type="checkbox" name="twitter_on" >
          </span>
          <input type="text" name="twitter" class="form-control" }}>
          </div><!-- /input-group -->
      </div>
      <input type="submit" class="btn btn-info" value="Submit">
    </form>
{% endblock %}
