{% extends "base.html" %}
{% block content %}
	<h2>Add Prescription</h2>
  <form method="POST" action="{{ url_for('new_prescription') }}" role="form">
  <div class="col-sm-4">

    <div class="form-group">
    <input type="text" name="name" class="input-block-level" placeholder="Name" required>
    </div>
    <div class="form-group">
    <input type="text" name="amount" class="input-block-level" placeholder="Amount" required>
  </div>
  <div class="form-group">
    <input type="text" name="description" class="input-block-level" placeholder="Description" >
  </div>
  <div class="form-group">
    <input type="text" name="doctor" class="input-block-level" placeholder="Doctor" >
  </div>
</div>
    <div class="col-sm-4">

    <div class="input-group">
      <label>
        <input type="checkbox" name="morningalarm" >
        Morning Alarm
      </label>
    </div><!-- /input-group -->

    <div class="input-group">
      <label>
        <input type="checkbox" name="afternoonalarm" >
        Afternoon Alarm
      </label>
    </div><!-- /input-group -->

    <div class="input-group">
      <label>
        <input type="checkbox" name="eveningalarm" >
        Evening Alarm
      </label>
    </div><!-- /input-group -->

    <div class="input-group">
      <label>
        <input type="checkbox" name="nightalarm" >
        Night Alarm
      </label>
    </div><!-- /input-group -->

    <input type="submit" class="btn btn-info" value="Submit">
  </div>
    </form>
{% endblock %}
